@import 'gg-ukit/styles/colors';
@import 'gg-ukit/styles/mixins';

.gg-note {
    .basic-text();

    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: @tertiary;
    border-radius: 4px;
}
