{
    "extends": "@hh.ru/stylelint-config-hh",
    "rules": {
        "declaration-property-value-allowed-list": {
            "font-family": ["Montserrat, sans-serif", "Montserrat", "'Open Sans', sans-serif", "'Open Sans'"]
        },
        "declaration-property-value-disallowed-list": null,
        "at-rule-allowed-list": ["media", "keyframes", "import", "font-face"]
    }
}
