@import '../../styles/colors';
@import '../../styles/font-sizes';

.gg-button {
    font-family: Montserrat, sans-serif;
    padding: 10px;
    border: none;
    font-size: @primary-font-size;
    font-weight: @bold-font-weight;
    color: @secondary;
    line-height: 1;

    background-color: #bd1c3d;
    background-image: linear-gradient(#ac1c3a, #ac1c3a);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 150ms;
    background-position: 0 100%;

    &:hover {
        background-size: 100% 100%;
    }

    &:active {
        background-image: linear-gradient(#88162e, #88162e);
    }
}

.gg-button_secondary {
    background-color: @secondary;
    color: @tertiary-dimmed;
    background-image: linear-gradient(@secondary-dimmed, @secondary-dimmed);

    &:active {
        background-image: linear-gradient(#c1c1c1, #c1c1c1);
    }
}

.gg-button_dimmed {
    background-color: @tertiary;
}

.gg-button_promo {
    background-color: #475361;
    background-image: linear-gradient(@tertiary-dimmed, @tertiary-dimmed);

    &:active {
        background-image: linear-gradient(@tertiary, @tertiary);
    }
}

.gg-button_rounded {
    border-radius: 4px;
}

.gg-button_with-icon {
    padding: 6px 10px 4px;
    line-height: 0.9;
}
