.description {
    font-family: "Nunito Sans",".SFNSText-Regular","San Francisco","Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}

.description p {
    margin-bottom: 10px;
}

.description p:last-of-type {
    margin-bottom: 0px;
}
