.gg-breadcrumbs {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.gg-breadcrumbs-item {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.gg-breadcrumbs-home {
    margin-right: 5px;
}

.gg-breadcrumbs-link {
    font-size: 20px;
}
