@import '../../styles/colors';
@import '../../styles/mixins';

.gg-hovered-img {
    position: relative;
}

.gg-hovered-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition-property: background-color, opacity;
    transition-duration: 150ms;
    transition-timing-function: linear;

    &:hover {
        opacity: 1;
        background-color: fade(@minor, 80%);
    }
}

.gg-hovered-img-overlay-content {
    display: flex;
    padding: 15px;
    align-items: center;
}

.gg-hovered-img-alt {
    .basic-text();
}

.gg-hovered-img-hover-view {
    display: flex;
    margin-left: auto;
}
