@import "../../styles/fonts";
@import "../../styles/colors";

.gg-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: @basic-font-size;
    color: @primary;
}

.gg-link:hover {
    color: @primary-minor;
    text-decoration: underline;
    cursor: pointer;
}

.gg-link:visited {
    color: #B41863;
}

.gg-link:active {
    color: #85142A;
}

.gg-link_secondary {
    color: @secondary;
}

.gg-link_secondary:visited {
    color: #A5A5A5;
}

.gg-link_secondary:active {
    color: @secondary-dimmed;
}

.gg-link_promo {
    color: @promo;
}

.gg-link_promo:hover {
    color: @promo;
}

.gg-link_promo:visited {
    color: #6B7D8D;
}

.gg-link_promo:active {
    color: @secondary-dimmed;
}
