@import 'gg-ukit/styles/colors';
@import 'gg-ukit/styles/font-sizes';

@border-width: 1px;

.gg-link {
    display: inline;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: @primary-font-size;
    color: @primary;
    text-decoration: none;

    background-image: linear-gradient(@primary, @primary);
    background-size: 0 @border-width;
    background-repeat: no-repeat;
    transition: background-size 150ms;
    background-position: 0 100%;

    &:hover {
        cursor: pointer;
        background-size: 100% @border-width;
    }

    &:active {
        color: #85142a;
        background-image: linear-gradient(#85142a, #85142a);
    }
}

.gg-link_secondary {
    color: @secondary;
    background-image: linear-gradient(@secondary, @secondary);

    &:active {
        color: @secondary-dimmed;
        background-image: linear-gradient(@secondary-dimmed, @secondary-dimmed);
    }
}

.gg-link_promo {
    color: @promo;
    background-image: linear-gradient(@promo, @promo);

    &:hover {
        color: @promo;
    }

    &:active {
        color: @secondary-dimmed;
        background-image: linear-gradient(@secondary-dimmed, @secondary-dimmed);
    }
}
