@import '../../styles/colors';
@import '../../styles/font-sizes';

.gg-link {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: @primary-font-size;
    color: @primary;
    transition: color 150ms ease-out;
}

.gg-link:hover {
    color: @primary-minor;
    text-decoration: underline;
    cursor: pointer;
}

.gg-link:visited {
    color: #b41863;
}

.gg-link:active {
    color: #85142a;
}

.gg-link_secondary {
    color: @secondary;
}

.gg-link_secondary:visited {
    color: #a5a5a5;
}

.gg-link_secondary:active {
    color: @secondary-dimmed;
}

.gg-link_promo {
    color: @promo;
}

.gg-link_promo:hover {
    color: @promo;
}

.gg-link_promo:visited {
    color: #6b7d8d;
}

.gg-link_promo:active {
    color: @secondary-dimmed;
}
