@import '../../styles/colors';
@import '../../styles/screen';
@import '../../styles/font-sizes';
@import '../../styles/mixins';

@slide-transition: transform 0.5s ease-in-out;
@preview-height: 50px;
@preview-margin: 10px;
@status-line-opacity: 0.8;

.status-line() {
    position: absolute;
    content: ' ';
    background-color: @primary;
    height: 4px;
}

// container
.gg-slider {
    border-radius: 4px;
    padding: 15px;
    background-color: @tertiary;

    @media @screen-gt-xs {
        padding: 20px;
    }
}

.gg-slider-content {
    position: relative;
}

.gg-slider-scroller-area {
    overflow: hidden;
}

.gg-slider-items {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: @slide-transition;
}

.gg-slider-items_previews {
    margin-top: @preview-margin;
}

// items
.gg-slider-item {
    width: 100%;
    flex-shrink: 0;
}

.gg-slider-preview {
    position: relative;
    margin-right: 15px;
    flex-shrink: 0;
    height: @preview-height;

    &:last-of-type {
        margin-right: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &::after {
        .status-line();

        opacity: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transition-property: opacity;
        transition-duration: 200ms;
        transition-timing-function: linear;
    }
}

.gg-slider-preview_active {
    &::after {
        opacity: @status-line-opacity;
    }
}

// controls
.gg-slider-content__arrow {
    display: block;
    opacity: 0.7;
    transition: opacity 0.3s;
    position: absolute;
    top: calc(50% - 44px); // =)

    &:hover {
        opacity: 1;
    }
}

.gg-slider-content__arrow_right {
    right: 0;
}

.gg-slider-content__status-line {
    .status-line();

    opacity: @status-line-opacity;
    bottom: 0;
    transition: @slide-transition;
}

.gg-slider-content__status-line_previews {
    bottom: @preview-height + @preview-margin;
}

// note
.gg-slider-note {
    .basic-text();

    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
