@import '../../styles/colors';
@import '../../styles/screen';

@pager-margin: 10px;
@pager-font-size: 32px;

// containers
.gg-pager {
    display: flex;
    align-items: center;
}

.gg-pager-extended-list {
    display: none;

    @media @screen-gt-xs {
        display: flex;
    }
}

.gg-pager-item-list {
    display: flex;
}

// items and arrows
.gg-pager-item {
    margin-left: 15px;

    a {
        font-size: @pager-font-size;
    }

    &:first-of-type {
        margin-left: 0;
    }

    @media @screen-gt-xs {
        margin-left: @pager-margin;
    }
}

.gg-pager-item_selected a {
    background-size: 100% 1px;

    &:hover {
        background-size: 100% 1px;
    }
}

.gg-pager-arrow-left {
    margin-right: @pager-margin * 2;

    @media @screen-gt-xs {
        margin-right: @pager-margin;
    }
}

.gg-pager-arrow-right {
    margin-left: @pager-margin * 2;

    @media @screen-gt-xs {
        margin-left: @pager-margin;
    }
}

.gg-pager-reduction {
    font-family: 'Open Sans', sans-serif;
    color: @secondary;
    font-size: @pager-font-size;
    margin-left: @pager-margin;
    margin-right: @pager-margin;
}
